<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh</key>
	<string>Chinese</string>
	<key>en</key>
	<string>English</string>
	<key>jp</key>
	<string>Japanese</string>
	<key>kor</key>
	<string>Korean</string>
	<key>it</key>
	<string>Italian</string>
	<key>spa</key>
	<string>Spanish</string>
	<key>wyw</key>
	<string>文言文</string>
	<key>yue</key>
	<string>Cantonese</string>
	<key>pt</key>
	<string>Portuguese</string>
	<key>ru</key>
	<string>Russian</string>
	<key>de</key>
	<string>German</string>
	<key>ara</key>
	<string>Arabic</string>
	<key>fra</key>
	<string>French</string>
	<key>th</key>
	<string>Thai</string>
	<key>el</key>
	<string>Greek</string>
</dict>
</plist>
